@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: 'Century Gothic';
    src: url('../../public/fonts/centurygothic.ttf') format('ttf');
}

@font-face {
    font-family: 'Coco Sharp';
    src: url('../../public/fonts/Coco-Sharp-Extrabold-trial.ttf') format('ttf');
}